<% if user_signed_in? and current_user.admin? %>
    <div class="nav-svg nav-svg-no-margin dropdown"> 
        <svg height="74" width="175" class="dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <polygon points="0,0 150,0 175,37 150,74 0,74 25,37" style="fill:#759dcb" />
          <text
          x="50%" y="50%"
          class="svg-text nav-svg nav-svg-no-margin"
          >Hi, <%= current_user.first_name.length > 10 ? "#{current_user.first_name[0].capitalize}#{current_user.last_name[0].capitalize}" : current_user.first_name.capitalize %></text>
        </svg>
 <div class="dropdown-menu dropdown-offset" aria-labelledby="navbarDropdown">
    <%= link_to "Data Definitions", data_definitions_path, class:"dropdown-item"%>
    <%= link_to "Events", events_path, class:"dropdown-item"%>
    <%= link_to "Notices", admin_notices_path, class:"dropdown-item"%>
    <%= link_to "Playground", '/playground', class:"dropdown-item"%>
    <%= link_to "Releases", releases_path, class:"dropdown-item"%>
    <%= link_to "Study Searches", study_searches_path, class:"dropdown-item"%>
    <%= link_to "Study Statistics Comparisons ", '/study_statistics_comparisons', class:"dropdown-item"%>
    <%= link_to "Summary", summary_aact_path, class:"dropdown-item"%>
    <%= link_to "Users", users_path, class:"dropdown-item" %>
    <%= link_to "Verifiers", verifiers_path, class:"dropdown-item"%>
    <div class="dropdown-divider"></div>
    <%= link_to "Edit Profile", edit_user_registration_path, class:"dropdown-item"%>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class:"dropdown-item"%>
    
    <% elsif user_signed_in? %>
   <div class="nav-svg nav-svg-no-margin dropdown"> 
        <svg height="74" width="298" class="dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <polygon points="0,0 255,0 297,37 255,74 0,74 25,37" style="fill:#759dcb" />
          <text
          x="53%" y="50%"
          class="svg-text nav-svg nav-svg-no-margin"
          >Hi, <%= current_user.first_name.capitalize %></text>
        </svg>
         <div class="dropdown-menu dropdown-offset" aria-labelledby="navbarDropdown">

        <%= link_to "Edit Profile", edit_user_registration_path, class:"dropdown-item" %>
        <%= link_to "Sign out", edit_user_registration_path('sign-out'), :id => current_user, class:"dropdown-item" %>
        </div>
  <% else %>
  <div class="d-flex flex-column ">
  <div class="d-flex align-items-start nav-svg nav-svg-no-margin ">
     <svg height="37" width="175">
          <polygon points="0,0 150,0 175,37 25,37" style="fill:#759dcb"/>
          <text
          x="50%" y="50%"
          class="svg-text"
          ><%= link_to "Sign in", new_user_session_path, class: 'svg-text' %></text>
        </svg>
        </div>
        <div class=" d-flex align-items-end nav-svg nav-svg-no-margin ">
        <svg height="37" width="175">
          <polygon points="25,0 175,0 150,37 0,37" style="fill:#759dcb"/>
          <text
          x="50%" y="50%"
          class="svg-text"
          >        <%= link_to "Sign up", new_user_registration_path, class: 'svg-text' %>
</text>
        </svg>
        </div>

</div>   
</div>   
<% end %>