<div id='navbar-top' class="navbar navbar-top">

  <% if user_signed_in? %>

      <p class='user-logged-in'>logged in as <%= current_user.full_name %></p>
    <p class='user-info'>
        <%= link_to "Edit Profile", edit_user_registration_path %>&nbsp;&nbsp;
        <%= link_to "Sign out", edit_user_registration_path('sign-out'), :id => current_user %>
    </p>
  <% else %>
    <p class='user-info'>
        <%= link_to "Sign up", new_user_registration_path, class: 'btn' %>
        <%= link_to "Sign in", new_user_session_path, class: 'btn' %>
    </p>
  <% end %>
</div>

<nav class="navbar navbar-expand-lg">
  <div class="navbar-header">
    <%= link_to("https://www.ctti-clinicaltrials.org/", class: "navbar-brand") do %>
      <%= image_tag("full_logo.jpg", class:"logo",  height: '120', width: '300') %>
      <% end %>
    </div>
  <button class="navbar-toggler navbar-dark bg-aact" type="button" data-bs-toggle="collapse" data-bs-target="#topNavToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="topNavToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a href="/" class="navItem nav-link"><%= fa_icon("home") %>Home</a>
      </li>
      <li class="nav-item">
        <a href="/connect" class="navItem nav-link"><%= fa_icon("plug") %>Connect</a>
      </li>
      <li class="nav-item">
        <a href="/download" class="navItem nav-link"><%= fa_icon("download") %>Download</a>
      </li>
      <li class="nav-item">
        <a href="/learn_more" class="navItem nav-link"><%= fa_icon("university") %>Learn</a>
      </li>
      <li class="nav-item">
        <a href="/shared_data" class="navItem nav-link"><%= fa_icon("briefcase") %>Shared Data</a>
      </li>
      <li class="nav-item">
        <a href="/contactus" class="navItem nav-link"><%= fa_icon("envelope") %>Contact Us</a>
      </li>
    </ul>
  </div>
</nav>


<% if PublicAnnouncement.count > 0 %>
  <section class='basicHero'>
  <div class='copy announcement'>
    <h1 class='announcement'>Announcement</h1>
    <div class='wrap'>
      <ul class='announcement'>
        <% PublicAnnouncement.all.each do |announcement| %>
          <li><%= announcement.description %></li>
        <% end %>
      </ul>
    </div>
  </div>
  </section>
<% end %>
