<%# dynamic class name based on snapshot type %>
<div class="snapshot-card <%= snapshot["type"] %>">
  <div class="snapshot-header">
    <div class="snapshot-type <%= snapshot["type"] %>"><%= snapshot_title(snapshot["type"]) %></div>
    <div class="snapshot-date">Last Exported: <%= snapshot["date"] %></div>
  </div>
  <div class="snapshot-content">
    <div class="snapshot-description">
      <%= snapshot_description_content(snapshot["type"]) %>
    </div>
    <div class="snapshot-details">
      <div class="detail-item">
        <span class="detail-label">File:</span>
        <span class="detail-value"><%= snapshot["file_name"] %></span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Size:</span>
        <span class="detail-value"><%= snapshot["size"] %></span>
      </div>
    </div>

    <div class="snapshot-actions">
      <%= link_to snapshot_instructions_path(snapshot["type"]), class: "snapshots-action-button secondary" do %>
        Instructions
      <% end %>
      <%= link_to snapshots_downloads_path(type: snapshot["type"]), class: "snapshots-action-button secondary" do %>
        Historical Data
      <% end %>
      <%= link_to snapshot["download_url"], class: "snapshots-action-button primary", download: snapshot["file_name"] do %>
        Download File
      <% end %>
    </div>
  </div>
</div>