<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.11/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.11/codemirror.min.js" integrity="sha512-rdFIN28+neM8H8zNsjRClhJb1fIYby2YCNmoqwnqBDEvZgpcp7MJiX8Wd+Oi6KcJOMOuvGztjrsI59rly9BsVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.11/addon/edit/matchbrackets.min.js" integrity="sha512-GSYCbN/le5gNmfAWVEjg1tKnOH7ilK6xCLgA7c48IReoIR2g2vldxTM6kZlN6o3VtWIe6fHu/qhwxIt11J8EBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.11/mode/sql/sql.min.js" integrity="sha512-fb0A/RjJvLbWBSNDDNRUER4LHrkVQjlEs3a2myQH047y9+I6wZAZOboHn+EA7ZcEcVwSiH3okO/+XzMlGPqcow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.11/addon/hint/show-hint.min.css" integrity="sha512-W/cvA9Wiaq79wGy/VOkgMpOILyqxqIMU+rkneDUW2uqiUT53I6DKmrF4lmCbRG+/YrW0J69ecvanKCCyb+sIWA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.11/addon/hint/show-hint.min.js" integrity="sha512-4+hfJ/4qrBFEm8Wdz+mXpoTr/weIrB6XjJZAcc4pE2Yg5B06aKS/YLMN5iIAMXFTe0f1eneuLE5sRmnSHQqFNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.11/addon/hint/sql-hint.min.js" integrity="sha512-Pue0eeX9BJ4IA+BRNDOFwhQmxPjXIHiHOsvHNc9dQ+3J43swbPQDT9gwC8lzE1TTjR8iIxOd+lNiv4oTBRWqYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.11/theme/monokai.min.css" integrity="sha512-R6PH4vSzF2Yxjdvb2p2FA06yWul+U0PDDav4b/od/oXf9Iw37zl10plvwOXelrjV2Ai7Eo3vyHeyFUjhXdBCVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<%= render 'layouts/query_menu' %>
<div class="modal-body">
  <% if current_user.admin? %>
    <div class="container-fluid">
      <h5><strong> User Name: </strong><%= @background_job.user&.username %></h5>
    </div>
  <% end %>

  <%= form_tag("/playground", :method => "get") do %>
    <%= label_tag(:query, 'SQL Query:') %>

    <% if @error.present? %>
      <div id="error_explanation">
        <ul>
        <% @error.each do |message| %>
          <li class="text-danger"><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= text_area_tag(:query, @background_job.data['query']) %>
    <div class="pb-3"></div>
    <div class="d-flex">
      <% if current_user.admin? || @background_job.user_id == current_user.id %>
        <% if @background_job.status == 'pending' %>
          <div class="me-auto">
            <div>
              <%= link_to 'Delete', background_job_path(@background_job), :class => "btn btn-danger btn-sm", :method => :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
          <div id="status-container">
            <!-- Display job status here -->
          </div>
        <% end %>

        <% if @background_job.status == 'working' %>
          <div class="me-auto"></div>
          <div class="d-flex">
          <div id="status-container">
            <!-- Display job status here -->
          </div>
          </div>      
        <% end %>

        <% if @background_job.status == 'complete' %>
          <div class="me-auto"><span id="status-container"><span></div>
          <div class="d-flex">  
            <div>
              <h5><a href="<%= @background_job.url %>">Download</a></h5>
            </div>
          </div> 
        <% end %>

        <% if @background_job.status == 'error' %>
          <div class="me-auto"></div>
          <div class="d-flex text-danger">  
            <div>
              <h5><strong> User Error Message: </strong><%= @background_job.user_error_message %></h5>
            </div>
          </div> 
        <% end %>
      <% end %> 
    </div>
    <div class="col-auto">
    <button type="submit" class="btn btn-primary btn-sm mt-2">Execute</button>
  </div>
  <% end %>

  <div id="status-container">
  <!-- Display job status here -->
</div>

<script>
  function checkJobStatus() {
    $.ajax({
      url: '<%= job_status_path %>', // Use the correct URL for your route
      method: 'GET',
      dataType: 'json',
      success: function (data) {
        console.log()
        // Update the status container with the job status
        $('#status-container').text('Job Status: ' + data.status);
        
        if (data.status === 'error') {
        $('#status-container').text('User Error Message: ' + data.error_message);
        }

        if (data.status === 'complete') {
          // If the status is "complete," refresh the view
          location.reload();
        }
      }
    });
  }

  function displayJobStatus() {
    $.ajax({
      url: '<%= job_status_path %>', // Use the correct URL for your route
      method: 'GET',
      dataType: 'json',
      success: function (data) {
        // Update the status container with the job status
        $('#status-container').text('Job Status: ' + data.status);
      }
    });
  }

  // Poll the server every 5 seconds
  if (<%=@background_job.status != 'complete' %>) {
  displayJobStatus();
  setInterval(checkJobStatus, 5000);
  } else {
    displayJobStatus();
  }
</script>

  <h1>Results:</h1>
  
  <hr/>


  <%= stylesheet_link_tag 'table_styles' %>
  <% if @data.present? %>
  <div class="result-table">
  <table>
    <thead>
      <tr>
        <th>#</th> <!-- Add a header for the row numbers column -->
        <% @headers.each do |header| %>
          <th><%= header %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @data.each_with_index do |row, index| %>
        <tr>
          <td><%= index + 1 %></td> <!-- Display the row number, starting from 1 -->
          <% row.each do |value| %>
            <td><%= value %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
<% else %>
  <p>No data available.</p>
<% end %>

  <div class="pb-4"></div>
  <div>
    <%= link_to 'Back', background_jobs_path, :class => "btn btn-primary btn-sm" %>
  </div>
</div>  

<script>
  CodeMirror.fromTextArea(document.getElementById('query'), {
    mode: 'sql',
    indentWithTabs: true,
    smartIndent: true,
    lineNumbers: true,
    matchBrackets : true,
    autofocus: true,
    theme: 'monokai',
    extraKeys: {"Ctrl-Space": "autocomplete"}
  });      
</script>