<h2 id="background">Release Notes</h2>

<hr/> <%= render 'release_notes/v5.0.2.1' %>
<hr/> <%= render 'release_notes/v5.0.1' %>
<hr/> <%= render 'release_notes/v5.0.0' %>
<hr/> <%= render 'release_notes/v4.7.1' %>
<hr/> <%= render 'release_notes/v4.6.1' %>
<hr/> <%= render 'release_notes/v4.6.0' %>
<hr/> <%= render 'release_notes/v4.5.0' %>