<h2 id="background">Release Notes</h2>

<hr/> <%= render 'release_notes/v6.0.0' %>
<hr/> <%= render 'release_notes/v5.0.2.1' %>
<hr/> <%= render 'release_notes/v5.0.1' %>
<hr/> <%= render 'release_notes/v5.0.0' %>
<hr/> <%= render 'release_notes/v4.7.1' %>
<hr/> <%= render 'release_notes/v4.6.1' %>
<hr/> <%= render 'release_notes/v4.6.0' %>
<hr/> <%= render 'release_notes/v4.5.0' %>
<hr/> <%= render 'release_notes/v4.4.1' %>
<hr/> <%= render 'release_notes/v4.4.0' %>
<hr/> <%= render 'release_notes/v4.3.0' %>
<hr/> <%= render 'release_notes/v4.2.2' %>
<hr/> <%= render 'release_notes/v4.2.1' %>
<hr/> <%= render 'release_notes/v4.2.0' %>
<hr/> <%= render 'release_notes/v4.1.1' %>
<hr/> <%= render 'release_notes/v4.1.0' %>
<hr/> <%= render 'release_notes/v4.0.2' %>
<hr/> <%= render 'release_notes/v4.0.1' %>
<hr/> <%= render 'release_notes/v4.0.0' %>
<hr/> <%= render 'release_notes/v3.1.2' %>
<hr/> <%= render 'release_notes/v3.1.1' %>
<hr/> <%= render 'release_notes/v3.1.0' %>
<hr/> <%= render 'release_notes/v3.0.2' %>
<hr/> <%= render 'release_notes/v3.0.1' %>
<hr/> <%= render 'release_notes/v3.0.0' %>
<hr/> <%= render 'release_notes/v2.0.5' %>
<hr/> <%= render 'release_notes/v2.0.4' %>
<hr/> <%= render 'release_notes/v2.0.3' %>
<hr/> <%= render 'release_notes/v2.0.2' %>
<hr/> <%= render 'release_notes/v2.0.1' %>
<hr/> <%= render 'release_notes/v2.0.0' %>
