<section>
  <div class="container">
  <div class="d-flex justify-content-between">
    <h3><%=number_with_delimiter(@user_count, :delimiter => ',') %> AACT Users</h3> 
        <%= link_to users_path(format: "csv"), class: 'userOptions' do %>
        <i class="fa fa-download"></i>
      <% end %>
      </div>

    <br>
    <div class="mb-3">
      <%= form_tag(users_path, method: :get, class: 'form-inline') do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search users by name, email, or username", class: 'form-control mr-sm-2' %>
        <%= submit_tag "Search", class: "btn usersearchbtn" %>
      <% end %>
    </div>

    <% if params[:search].present? %>
      <p>
        Showing results for "<strong><%= params[:search] %></strong>"
        — <%= @users.total_count %> user(s) found.
        <%= link_to "Clear", users_path, class: "btn btn-sm btn-link" %>
      </p>
    <% end %>

    <table id='userTable'
        data-toolbar="#toolbar"
        data-pagination="true"
        data-show-toggle="true"
        data-show-columns="true"
        data-sort-order="name"
        class='table-striped table-responsive table-hover table-bordered regularDisplay'>

        <thead>
          <tr>
            <th data-sortable='true' data-field='last_name'>Name</th>
            <th data-sortable='true' data-field='email'>Email</th>
            <th data-sortable='true' data-field='username'>UserName</th>
            <th data-sortable='true' data-field='display_last_dbactivity'>Last DB Activity</th>
            <th data-sortable='true' data-field='db_activity'>DB Activity</th>
          </tr>
        <thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.full_name %></td>
              <td><%= user.email %></td>
              <td><%= user.username %></td>
              <td><%= user.display_last_db_activity %></td>
              <td><%= user.db_activity %></td>
            </tr>
          <% end %>
        </tbody>
    </table>

    <div class="docs-container">
      <div class="pagination-wrapper">
        <%= paginate @users %>
      </div>
    </div>
    
  </div>

</section>
