<%= form_with url: mapping_index_path, method: :get, local: true do %>
  <%= label_tag :filter, "Search Field Name" %>
  <%= text_field_tag :filter, params[:filter] %>
  <%= submit_tag "Search" %>
<% end %>
<table id="mappings-table">
  <thead>
    <tr>
      <th>Table Name</th>
      <th>Field Name</th>
      <th>Active</th>
      <th>API Path</th>
    </tr>
  </thead>
  <tbody>
    <% @mappings.each do |mapping| %>
      <tr>
        <td><%= mapping["table_name"] %></td>
        <td><%= mapping["field_name"] %></td>
        <td><%= mapping["active"] %></td>
        <td><%= mapping["api_path"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>