<div class="pb-3">
  <h1>Events</h1>
</div>
<% if @load_events.empty? %>
  <p> There is no events yet. </p>
<% else %>
  <ul class="list-group text-center">
    <li class="row mb-0">
      <div class="col-3 list-group-item list-group-item-dark">Started</div>
      <div class="col-2 list-group-item list-group-item-dark">Event Type</div>
      <div class="col-2 list-group-item list-group-item-dark">Status</div>
      <div class="col-2 list-group-item list-group-item-dark">Completed At</div>
      <div class="col-3 list-group-item list-group-item-dark">Description</div>
    </li>
    <% @load_events.each do |loadevent| %>
      <li class="row mb-0">
        <div class="col-3 list-group-item "><%= link_to loadevent.created_at.strftime('%m/%d/%Y %l:%M %p'), event_path(loadevent) %></div>
        <div class="col-2 list-group-item "><%= loadevent.event_type %></div>
        <div class="col-2 list-group-item "><%= loadevent.status %></div>
        <div class="col-2 list-group-item "><%= loadevent.completed_at&.strftime('%m/%d/%Y %l:%M %p') %></div>
        <div class="col-3 list-group-item text-start"><%= loadevent.description %></div>
      </li>
    <% end %>
  </ul>
<% end %>
