<div class="pb-3">
  <h1>Load Events</h1>
</div>

<div class="container">

  <div class="row">
    <div class="col-3">
      <li class="list-group-item list-group-item-dark">Started</li>
    </div>
    <div class="col-2">
      <li class="list-group-item list-group-item-dark">Event Type</li>
    </div>
    <div class="col-2">
      <li class="list-group-item list-group-item-dark">Status</li>
    </div>
    <div class="col-5">
      <li class="list-group-item list-group-item-dark">Description</li>
    </div>
  </div>

  <% @load_events.each do |loadevent| %>
    <div class="row">
      <div class="col-3">
        <li class="list-group-item"><%= link_to loadevent.created_at.strftime('%m/%d/%Y %l:%M %p'), event_path(loadevent) %></li>
        <%# <%= link_to loadevent.created_at.strftime('%m/%d/%Y %l:%M %p'), event_path(loadevent) %>
      </div>
      <div class="col-2">
        <li class="list-group-item"><%= loadevent.event_type %></li>
        <%# <%= loadevent.event_type %>
      </div>
      <div class="col-2">
        <li class="list-group-item"><%= loadevent.status %></li>
        <%# <%= loadevent.status %>
      </div>
      <div class="col-5">
        <li class="list-group-item"><%= loadevent.description %></li>
        <%# <%= loadevent.description %>
      </div>
    </div>
  <% end %>

</div>
