<div class="modal-body">
  <h1>Event</h1>
  <hr/>

  <div class="container-fluid">
    <h5> <strong>Started:</strong> <%= @load_event.created_at.strftime('%m/%d/%Y %l:%M %p') %> </h5>
  </div>

  <div class="container-fluid">
    <h5> <strong>Event Type:</strong> <%= @load_event.event_type %> </h5>
  </div>

  <div class="container-fluid">
    <h5> <strong>Status:</strong> <%= @load_event.status %></h5>
  </div>

  <div class="container-fluid">
    <h5> <strong>Description:</strong> <%= markdown(@load_event.description) %></h5>
  </div>

  <div class="container-fluid">
    <h5> <strong>Problems:</strong> <%= markdown(@load_event.problems) %></h5>
  </div>

  <div class="pb-5">
  </div>

  <%= link_to 'Back', events_path, :class => "btn btn-primary btn-sm" %>
</div>
