<div>
  <h1>Connect to AACT</h1>
    <div class="connectionTypes">
      <a href="/playground" class="connectionCard w-100">
        <h4>Playground</h4>
        <p>
        Click here to run queries on the AACT data from your web browser.
        </p>
        <%= fa_icon("plug") %>
      </a>
    </div>
      <p>
        The AACT database is hosted on a PostgreSQL server. A database server stores and manages the clinical trials data and makes it accessible for analysis and reporting.
        You can connect to the AACT database using various database client tools, which help you write queries and download the data you need.
      </p>
      <p>
        Below are several free and popular clients you can use to connect to AACT. We recommend visiting each tool’s official website for the latest downloads and connection instructions.
      </p>

    <section class="connect">
      <div class="circleButtons container">
        <div class="row">
          <div class="d-flex justify-content-sm-center">

            <a href="https://www.pgadmin.org/download/" target="_blank" class="clientButton">
              <div class="iconWrapConnectPage">
                <%= image_tag "pgadmin.png", alt: "PgAdmin Logo" %>
              </div>
              <span class="circleButtons">pgAdmin</span>
            </a>

            <a href="https://cran.r-project.org/" target="_blank" class="clientButton">
              <div class="iconWrapConnectPage">
                <%= image_tag "RStudio.png", alt: "RStudio Logo" %>
              </div>
              <span class="circleButtons">R / RStudio</span>
            </a>

            <a href="https://documentation.sas.com/doc/en/pgmsascdc/9.4_3.5/acreldb/p0qjsjie931r31n16nfmipoyqpji.htm" target="_blank" class="clientButton">
              <div class="iconWrapConnectPage">
                <%= image_tag "sas.png", alt: "SAS Logo" %>
              </div>
              <span class="circleButtons">SAS</span>
            </a>

            <a href="https://www.postgresql.org/download/" target="_blank" class="clientButton">
              <div class="iconWrapConnectPage psql">
                <%= image_tag "psql.png", alt: "Postgres SQL Logo", class: "shrinkLogo" %>
              </div>
              <span class="circleButtons">psql</span>
            </a>
          </div>
        </div>
      </div>


    <% if user_signed_in? %>
      <%= render 'credentials/credentials' %>
    <% else %>
      <div class="connectionTypes">
        <a href="/users/sign_in" class="connectionCard">

          <h4>Already Have an Account?</h4>
          <p>
            If you already have an AACT account and need a reminder of the access credentials, login and the info you need will appear here.
          </p>
          <%= fa_icon("plug") %>
        </a>
      </div>
    <% end %>
  </div>
</section>
</div>
