<div>
  <h1>Query AACT with pgAdmin</h1>
  <p>
    pgAdmin is a free, reliable, open source graphical query tool that can be used to access any postgreSQL database. 
    A wealth of information about pgAdmin is available on the internet including the <a href='https://www.pgadmin.org/docs/' target='_blank'>pgAdmin Documenation Website.</a> 
    Use of this tool assumes a basic understanding of SQL. 
  </p>

  <section class="pgAdmin">
    <div class="step">
      <span class="stepNumber">1</span>
      <h3 class="stepName">Install pgAdmin4</h3>
    </div>

    <p>
      Get a current version from the <a href="https://www.pgadmin.org/" target="_blank">pgAdmin site.</a>
    </p>
    <p>Download packages for MacOS are available <a href="https://www.pgadmin.org/download/pgadmin-4-macos/" target="_blank">here.</a></p>
    <p>Download packages for Windows are available <a href="https://www.pgadmin.org/download/pgadmin-4-windows/" target="_blank">here.</a></p>

    <p>
      The following instructions present examples for pgAdmin4 on a PC. Screenshots will appear differently for other versions and/or operating systems.
    </p>

    <div class="step">
      <span class="stepNumber">2</span>
      <h3 class="stepName">Establish a Connection to AACT</h3>
    </div>

    <p>
      Right click on <em>Servers</em> → <em>Register</em> → <em>Server</em>. 
    </p>
    
    <%= image_tag("right_click.png", :size => '400x400') %>

    <p>
      Click on <em>General</em> tab, and give a name to this database connection, for example "aact".
    </p>

    <%= image_tag("general_name.png", :size => '400x400') %>

    <p>
      Enter "New Server Registration" info with the following credentials and press [OK] in the lower right of the dialog box.
    </p>
    <%= render 'credentials/credentials' %>


    <%= image_tag("newserver.png", :size => '400x400') %>

    <div class="step">
      <span class="stepNumber">3</span>
      <h3 class="stepName">Confirm Connection</h3>
    </div>

    <p>
      Click the AACT server icon that was just created in the left pane and scroll to the property in the right pane to confirm that 'Connected?' status is 'Yes'.
    </p>

    <%= image_tag("connected.png") %>

    <div class="step">
      <span class="stepNumber">4</span>
      <h3 class="stepName">Select the AACT Database</h3>
    </div>

    <p>
      Double click the AACT server icon to expand the folder. Under 'Databases', click AACT.  (Note: There might be a red x over the database icon when you first navigate to this structure. It should go away after being clicked.)
    </p>

    <%= image_tag("selectaact.png") %>


    <div class="step">
      <span class="stepNumber">5</span>
      <h3 class="stepName">Open Query Window</h3>
    </div>

    <p>With the AACT database selected, click the 'SQL' icon from the top menu bar.<p>
    <%= image_tag('new_query1.png') %>

    <p>Select <em>Tools</em> -> <em>Query Tool</em></p>
    <%= image_tag('new_query2.png') %>
    <p>This will trigger a popout dialog tool that allows you to enter SQL queries.</p>

    <%= image_tag("emptyquery.png") %>

    <div class="step">
      <span class="stepNumber">6</span>
      <h3 class="stepName">Execute Query</h3>
    </div>
    <p>
      Enter queries in the SQL Editor in the upper left, and run them against the AACT database by pressing the triangular play button.
    </p>
    <%= image_tag("playquery.png") %>
    <p>
      A simple example of a query that returns the number of studies in the AACT database:
    </p>
    <%= image_tag("countresults.png") %>
  </section>
</div>
