<div>
  <% unless proj.description.blank? %>
    <strong class="projectDetails bold">Description</strong>
    <br>
    <p class='projectDetails'><%= proj.description %></p>
    <br>
  <% end %>

  <% unless proj.publications.empty? %>
    <br>
    <% if proj.publications.size == 1 %>
      <strong class="projectDetails bold">Publication</strong>
    <% else %>
      <strong class="projectDetails bold">Publications</strong>
    <% end %>
    <% proj.publications.each do |pub| %>
      <br>
      <p class='projectDetails'><a href="<%= pub.url %>" target='_blank'><%= pub.citation %></a></p>
    <% end %>
  <% end %>

  <% unless proj.datasets.empty? %>
    <br>
    <% if proj.datasets.size == 1 %>
      <strong class="projectDetails bold">Downloadable Dataset</strong>
    <% else %>
      <strong class="projectDetails bold">Downloadable Datasets</strong>
    <% end %>

    <% proj.datasets.each do |ds| %>
      <% if ds.schema_name.blank? %>
<p class='projectDetails'><a href="/datasets/<%= ds.id %>" target='_blank'><%= ds.name %>.</a>  <%= ds.description %> <%= ds.source %></p>
      <% else %>
<p class='projectDetails'><a href="/datasets/<%= ds.id %>" target='_blank'><%= ds.name %></a> <span>(Available in AACT database: <%= ds.schema_name %>.<%= ds.table_name %>)</span></a> <%= ds.description %> <%= ds.source %></p>
      <% end %>
    <% end %>
  <% end %>

  <% unless proj.attachments.empty? %>
    <br>
    <% if proj.attachments.size == 1 %>
     <strong class="projectDetails bold">Other Attachment</strong>
    <% else %>
      <strong class="projectDetails bold">Other Attachments</strong>
    <% end %>
    <% proj.attachments.each do |a| %>
       <p class='projectDetails'><a href="/attachments/<%= a.id %>" target='_blank'><%= a.description %></a></p>
    <% end %>
  <% end %>

  <% unless proj.aact_version.blank? %>
    <br>
    <strong class="projectDetails bold">AACT Version</strong>
    <br>
    <p class='projectDetails'><%= proj.aact_version %></p>
  <% end %>
</div>
