javascript_include_tag "sortable"

<div class="wrap">

  <div class="projects">

    <table data-toggle='table' class="table table-striped table-responsive table-hover regularDisplay" data-sort-order="desc">

        <thead>
          <tr>
            <th data-field='name'          data-sortable="true">name</th>
            <th data-field='investigators' data-sortable="true">investigators</th>
            <th data-field='year'          class="sorttable">year</th>
            <th >description</th>
            <th ></th>
          </tr>
        </thead>

        <tbody class='projects'>
          <% @projects_with_data.each do |proj| %>
            <tr>
              <td><%= proj.name %></td>
              <td><%= proj.investigators %></td>
              <td><%= proj.year %></td>
              <td><%= proj.brief_summary %></td>
              <td><%= link_to 'Detail', project_path(:id => proj.id) %></td>
            </tr>
          <% end %>
       </tbody>

    </table>

  </div>

</div>
