<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>

<script>
$(document).ready(function(){

  var $table = $('#projectTable');

  $table.on('expand-row.bs.table', function(e, index, row, $detail) {
    var res = $("#detail_" + index ).html();
    $detail.html(res);
  });

});
</script>

<section>

  <div id='projectContainer' class='basicHero container'>
    <h1>Projects</h1>
    <%= render 'explain_projects' %>
    <div id='toolbar'></div>

    <table id='projectTable'
       data-toggle="table"
       data-detail-view="true"
       data-detail-formatter="detailFormatter"
       data-pagination="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-sort-order="name"
       class='sortable table-striped table-responsive table-hover regularDisplay'>

        <thead>
          <tr>
            <th data-field='name'>Name</th>
            <th data-field='investigators'>Investigators</th>
            <th data-field='year'>Year</th>
            <th data-field='brief_summary'>Brief Summary</th>
            <th data-field='schema_name'>DB Schema</th>
          </tr>
        </thead>

        <tbody class='projects'>
          <% @projects.each_with_index do |proj, index| %>
            <tr id="row_<%= index %>" class='projectRow'>
              <td><%= proj.name %></td>
              <td><%= proj.investigators %></td>
              <td><%= proj.year %></td>
              <td><%= proj.brief_summary %></td>
              <td><%= proj.schema_name %></td>
              <span style="display: none;" id="detail_<%= index %>">
                <% unless proj.description.blank? %>
                  <strong class="projectDetails bold">Description:</strong>
                  <br>
                  <pre class='projectDetails'><%= proj.description %></pre>
                  <br>
                <% end %>

                <% unless proj.study_selection_criteria.blank? %>
                  <strong class="projectDetails bold">Study Selection Criteria:</strong>
                  <br>
                  <pre class='projectDetails'><%= proj.study_selection_criteria %></pre>
                <% end %>

                <% unless proj.publications.empty? %>
                  <% proj.publications.each do |pub| %>
                    <strong class="projectDetails bold">Publications:</strong>
                    <br>
                    <pre class='projectDetails'><%= pub.citation %></pre>
                  <% end %>
                <% end %>

                <% unless proj.datasets.empty? %>
                  <% proj.datasets.each do |ds| %>
                    <strong class="projectDetails bold">Datasets:</strong>
                    <br>
                    <% if ds.schema_name.blank? %>
                      <pre class='projectDetails'><%= ds.name %></pre>
                    <% else %>
<pre class='projectDetails'><a href="/datasets/<%= ds.id %>" target='_blank'><%= ds.name %>.</a> Available in the AACT database: <b><%= ds.schema_name %>.<%= ds.table_name %></b></pre>
                    <% end %>
                  <% end %>
                <% end %>

              </span>
            </tr>
          <% end %>
       </tbody>
    </table>
  </div>
</section>
