<%= javascript_include_tag :sortable %>
<%=  stylesheet_link_tag "bootstrap.min.css" %>
<%=  stylesheet_link_tag "bootstrap.override.css" %>
<section>

<h1>Projects</h1>
  <div class="projects">

    <table class="table sortable table-striped table-responsive table-hover regularDisplay" data-sort-order="desc">

        <thead>
          <tr>
            <th>Name</th>
            <th>Investigators</th>
            <th>Year</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>

        <tbody class='projects'>
          <% @projects_with_data.each do |proj| %>
            <tr>
              <td><%= proj.name %></td>
              <td><%= proj.investigators %></td>
              <td><%= proj.year %></td>
              <td><%= proj.brief_summary %></td>
              <td><%= link_to 'Detail', project_path(:id => proj.id) %></td>
            </tr>
          <% end %>
       </tbody>

    </table>

  </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
