<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>

<script>
$(document).ready(function(){

  var $table = $('#projectTable');

  $table.on('expand-row.bs.table', function(e, index, row, $detail) {
    var res = $("#detail_" + index ).html();
    $detail.html(res);
  });

  $("#projectFilter").change(function(){
      $(".dataNotAvailable").toggle($("#projectFilter").val() == "all");
  });

});
</script>

<section>

  <div id='projectContainer' class='basicHero container'>
    <h1>AACT-based Research Projects</h1>
    <%= render 'explain_projects' %>

    <!-- temporarily hide this until we have projects that don't provide db content
    <div id='toolbar' style="visibility: hidden">
       <select id="projectFilter">
          <option value="all">All Projects</option>
          <option value="dataInDatabase">Projects with Data in AACT Database</option>
      </select>
    </div> -->

    <div class='shadowContainer'>
      <table id='projectTable'
         data-toggle="table"
         data-detail-view="true"
         data-detail-formatter="detailFormatter"
         data-pagination="true"
         data-show-toggle="true"
         data-show-columns="true"
         data-sort-order="name"
         class='sortable table-striped table-responsive table-hover regularDisplay'>

          <thead>
            <tr>
              <th data-field='name'>Name</th>
              <th data-field='investigators'>Investigators</th>
              <th data-field='organizations'>Organizations</th>
              <th data-field='year'>Year</th>
              <th data-field='brief_summary'>Brief Summary</th>
              <th data-field='schema_name'>DB Schema</th>
            </tr>
          </thead>

          <tbody class='projects'>
            <% @projects.each_with_index do |proj, index| %>
              <tr id="row_<%= index %>" class="projectRow <%= 'dataNotAvailable' if proj.data_available == false %>">
                <td><%= proj.name %></td>
                <td><%= proj.investigators %></td>
                <td><%= proj.organizations %></td>
                <td><%= proj.year %></td>
                <td><%= proj.brief_summary %></td>
                <td><%= proj.schema_name  if proj.data_available != false %></td>
                <%= render :partial => 'project_details', :locals => {:proj => proj, :index => index} %>
              </tr>
            <% end %>
         </tbody>
      </table>
    </div>
  </div>
</section>
