<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>

<section>
  <div id='projectContainer' class='basicHero container'>

    <div class='projectHeading'>
      <h4 class='projName'>Project: <%= @project.name %></h4>
      <h5><%= @project.investigators %></h5>

      <p class='projectAactVersionLabel'>Start Date</p><p> <%= @project.start_date %></p>
      <br>
      <p class='projectAactVersionLabel'>Brief Summary</p><p> <%= @project.brief_summary %></p>
      <br>
      <p class='projectAactVersionLabel'>URL</p><p> <a target='_blank' href="<%= @project.url %>"><%= @project.url %></a></p>
    </div>

    <!--  Study Selection Criteria ---------------------------------- -->
    <% unless @project.study_selection_criteria.blank? %>
      <p class="projectLabel">Study Selection Criteria</p>
      <br>
      <p class='projectDetails'><%= @project.study_selection_criteria %></p>
    <% end %>

    <!--  FAQs  ---------------------------------- -->
    <% unless @project.faqs.empty? %>
      <br>
      <% if @project.faqs.size == 1 %>
        <p class="projectLabel">FAQ</p>
      <% else %>
        <p class="projectLabel">FAQs</p>
      <% end %>
      <% @project.faqs.each do |faq| %>
        <br>
        <% if faq.question %>
          <ul class='projectDetails'>
            <li class="faqLine">&#9679;&nbsp;&nbsp;<%= faq.question %></li>
          </ul>
        <% end %>
        <% if faq.answer %>
          <p class='indentProjectDetails'><%= faq.answer %></p>
        <% end %>
        <% if faq.url && faq.citation %>
          <p class='indentProjectDetails'><a href="<%= faq.url %>" target='_blank'><%= faq.citation %></a></p>
        <% else %>
          <% if faq.url %>
            <p class='indentProjectDetails'><a href="<%= faq.url %>" target='_blank'><%= faq.url %></a></p>
          <% end %>
          <% if faq.citation %>
            <p class='indentProjectDetails'><%= faq.citation %></p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <!--  Contact Info  ---------------------------------- -->
    <% unless @project.contact_info.blank? %>
      <br>
      <p class="projectLabel">Contact Info</p>
      <p class='projectDetails'><%= @project.contact_info %></p>
    <% end %>

    <!--  Overview from Project Details ---------------------------------- -->
    <%= render :partial => 'project_details', :locals => {:proj => @project} %>

  </div>
</section>

