<div class="modal-body">
  <h1>Data Definition</h1>
  <div class="container-fluid">
    <div class="container">
      <div class="row row-cols-2">
        <div class="col">
          <h5><strong>db_section:</strong></h5>
        </div>
        <div class="col">
          <h5><%= @data_definition.db_section %></h5>
        </div>
        <div class="col">
          <h5><strong>table_name:</strong></h5>
        </div>
        <div class="col">
          <h5><%= @data_definition.table_name %></h5>
        </div>
        <div class="col">
          <h5><strong>column_name:</strong></h5>
        </div>
        <div class="col">
          <h5><%= @data_definition.column_name %></h5>
        </div>
        <div class="col">
          <h5><strong>data_type:</strong></h5>
        </div>
        <div class="col">
          <h5><%= @data_definition.data_type %></h5>
        </div>
        <div class="col">
          <h5><strong>source:</strong></h5>
        </div>
        <div class="col-6">
          <h5><%= @data_definition.source %></h5>
        </div>
        <div class="col">
          <h5><strong>ctti_note:</strong></h5>
        </div>
        <div class="col-6">
          <h5><%= @data_definition.ctti_note %></h5>
        </div>
        <div class="col">
          <h5><strong>nlm_link:</strong></h5>
        </div>
        <div class="col">
          <h5><%= @data_definition.nlm_link %></h5>
        </div>
      </div>  
    </div>  
    <div class="pb-5">
    </div>
    <div class="d-flex justify-content-between w-25">
      <div>
        <%= link_to 'Edit', edit_data_definition_path(@data_definition), :class => "btn btn-primary" %>   
      </div>
        <%= link_to 'Delete', data_definition_path(@data_definition), :class => "btn btn-danger", :method => :delete, data: { confirm: 'Are you sure?' } %>
      <div>
        <%= link_to 'Back', data_definitions_path, :class => "btn btn-primary" %>  
      </div>
    </div>
  </div>
</div>  
 