<div class="container">
<%= render 'layouts/query_menu' %>
  
<table id="data-table" class="table table-sm table-striped">    <tbody>
      <% @background_jobs.each do |job| %>
        <tr class="selectable-row" data-url="<%= background_job_path(job) %>">
          <td><%= link_to job.id, background_job_path(job) %></td>
          <td><%= job.created_at.strftime('%B %d, %Y at %l:%M %p') %></td>
          <td><%= job.status %></td>
          <td><%= job.user&.username %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>