<div class="modal-body">
  <h1>Background Job</h1>
  <hr/>
  <div class="container-fluid">
    <h5><strong>Created At: </strong><%= @background_job.created_at.strftime('%B %d, %Y at %l:%M %p') %></h5>
  </div>
  <% if current_user.admin? %>
    <div class="container-fluid">
      <h5><strong>User Name: </strong><%= @background_job.user&.username %></h5>
    </div>
  <% end %>
  <div class="container-fluid">
    <h5><strong>Job Type: </strong><%= @background_job.type %></h5>
  </div>
  <div class="container-fluid">
    <h5><strong>SQL Query: </strong><%= @background_job.data %></h5>
  </div>
  <div class="container-fluid">
    <h5><strong>Job Status: </strong><%= @background_job.status %></h5>
  </div>
  <% if @background_job.status == 'complete' %>
    <div class="container-fluid">
      <h5><strong>Completed At: </strong><%= @background_job.completed_at.strftime('%B %d, %Y at %l:%M %p') %></h5>
    </div>
    <div class="container-fluid">
      <h5><strong>Results: </strong><a href="<%= @background_job.url %>">Download</a></h5>
    </div>
  <% end %>
  <div class="pb-5"></div>
  <% if (current_user.admin? || @background_job.user_id == current_user.id) && @background_job.status != 'complete' %>
    <div>
      <%= link_to 'Delete', background_job_path(@background_job), :class => "btn btn-danger btn-sm", :method => :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
  <div class="pb-4"></div>
  <div>
    <%= link_to 'Back', background_jobs_path, :class => "btn btn-primary btn-sm" %>
  </div>
</div>  