<div class="docs-container mt-4">
  <div class="search-form" style="display: flex; justify-content: space-between; align-items: center;">
    <%= form_tag(documentation_index_path, method: :get, class: 'form-inline') do %>
      <div class="form-group" style="display: inline-flex; align-items: center;">
        <%= text_field_tag :search, params[:search], class: 'form-control form-control-sm',
          style: 'width: 400px; margin-right: 10px;',
          placeholder: 'Search across all fields...' %>
        <%= submit_tag "Search", class: 'btn btn-primary btn-sm' %>
      </div>
    <% end %>
    <%= link_to 'Download CSV', documentation_index_path(format: 'csv'), class: 'btn btn-secondary' %>
  </div>
  <div class="docs-grid">
    <div class="grid-header">
      <div>Details</div>
      <div>Active</div>
      <div>Table</div>
      <div>Column</div>
      <div>Type</div>
      <div>Description</div>
      <div>CTGov Data Point</div>
      <div>CTGov Doc URL</div>
    </div>
    <% if @paginated_docs.any? %>
      <%= form_with url: documentation_index_path, method: :get, local: true, class: "mb-3" do %>
        <table class="table table-striped table-bordered documentation-table">
          <tbody>
            <% @paginated_docs.each do |item| %>
              <tr>
                <td><%= item['active'] ? 'Yes' : 'No' %></td>
                <td><%= item['table_name'] %></td>
                <td><%= item['column_name'] %></td>
                <td><%= item['data_type'] %></td>
                <td><%= item['nullable'] %></td>
                <td><%= item['description'] || "-" %></td>
                <td><%= item['ctgov_data_point_label'] || "-" %></td>
                <td>
                  <% if item['ctgov_url'] %>
                    <a href="<%= item['ctgov_url'] %>" title="<%= item['ctgov_url_label'] %>"><%= item['ctgov_url_label'] %></a>
                  <% else %>
                    -
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <%= paginate @paginated_docs, class: "pagination justify-content-center" %>
    <% else %>
      <div class="alert alert-info" role="alert">
        No mappings found.
      </div>
    <% end %>
  </div>