<div class="details-wrapper">
  <div class="details-controls">
    <%= link_to "Back", documentation_index_path, class: "btn btn-secondary control-btn" %>
    <% if current_user&.admin? %>
      <%= link_to "Edit", edit_documentation_path(@doc_item["id"]), class: "btn btn-primary control-btn" %>
    <% end %>
  </div>
  <div class="details-grid">
    <div class="details-group" id="aact-data">
      <% if current_user&.admin? %>
        <div class="details-title">ID:</div>
        <div class="details-value"><%= @doc_item["id"] %></div>
      <% end %>
      <div class="details-title">Table:</div>
      <div class="details-value"><%= @doc_item["table_name"] %></div>
      <div class="details-title">Field:</div>
      <div class="details-value"><%= @doc_item["column_name"] %></div>
      <div class="details-title">Type:</div>
      <div class="details-value"><%= @doc_item["data_type"] %></div>
      <div class="details-title">Nullable:</div>
      <div class="details-value"><%= @doc_item["nullable"] ? "Yes" : "No" %></div>
      <div class="details-title">Active:</div>
      <div class="details-value">
        <span id="active-value"><%= @doc_item["active"] ? "Yes" : "No" %></span>
      </div>
      <div class="details-title">Description:</div>
      <div class="details-value"><%= @doc_item["description"] || "-" %></div>
    </div>
    <% if @doc_item["ctgov_path"].present? %>
      <div class="details-group" id="ctgov-data">
        <div class="details-title">CTGov Section:</div>
        <div class="details-value"><%= @doc_item["ctgov_section"] %></div>
        <div class="details-title">CTGov Module:</div>
        <div class="details-value"><%= @doc_item["ctgov_module"] %></div>
        <div class="details-title">CTGov Data Point:</div>
        <div class="details-value"><%= @doc_item["ctgov_data_point_label"] %></div>
        <div class="details-title">CTGov API Field Path:</div>
        <div class="details-value"><%= @doc_item["ctgov_path"] %></div>
        <% if current_user&.admin? %>
          <div class="details-title">CTGov Data API Field:</div>
          <div class="details-value"><%= @doc_item["ctgov_data_point_name"] %></div>
          <div class="details-title">CTGov Data Type:</div>
          <div class="details-value"><%= @doc_item["ctgov_data_type"] %></div>
          <div class="details-title">CTGov Source Type:</div>
          <div class="details-value"><%= @doc_item["ctgov_source_type"] %></div>
          <div class="details-title">CTGov Synonyms:</div>
          <div class="details-value"><%= @doc_item["ctgov_synonyms"] ? "Yes" : "No" %></div>
          <div class="details-title">CTGov Doc URL Label:</div>
          <div class="details-value"><%= @doc_item["ctgov_url_label"] %></div>
          <div class="details-title">CTGov Documentation URL:</div>
          <div class="details-value">
            <% if @doc_item["ctgov_url"].present? %>
              <%= link_to @doc_item["ctgov_url"], @doc_item["ctgov_url"], target: "_blank", class: "custom-link" %>
            <% end %>
          </div>
        <% else %>
          <div class="details-title">CTGov Documentation URL:</div>
          <div class="details-value">
            <% if @doc_item["ctgov_url"].present? %>
              <%= link_to @doc_item["ctgov_url"], @doc_item["ctgov_url"], target: "_blank", class: "custom-link" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>