<div>
  <% unless proj.description.blank? %>
    <p class="indentProjectLabel">Description</p>
    <p class='indentProjectDetails'><%= proj.description %></p>
  <% end %>

  <% unless proj.publications.empty? %>
    <% if proj.publications.size == 1 %>
      <p class="indentProjectLabel">Publication</p>
    <% else %>
      <p class="indentProjectLabel">Publications</p>
    <% end %>
    <% proj.publications.each do |pub| %>
      <p class='indentProjectDetails'><a href="<%= pub.url %>" target='_blank'><%= pub.citation %></a></p>
    <% end %>
  <% end %>

  <% unless proj.datasets.empty? %>
    <% if proj.datasets.size == 1 %>
      <p class="indentProjectLabel">Downloadable Dataset</span>
    <% else %>
      <p class="indentProjectLabel">Downloadable Datasets</p>
    <% end %>

    <% proj.datasets.each do |ds| %>
      <% if ds.schema_name.blank? %>
<p class='indentProjectDetails'><a href="/datasets/<%= ds.id %>" target='_blank'><%= ds.name %>.</a>  <%= ds.description %> <%= ds.source %></p>
      <% else %>
<p class='indentProjectDetails'><a href="/datasets/<%= ds.id %>" target='_blank'><%= ds.name %></a> <span>(Available in AACT database: <%= ds.schema_name %>.<%= ds.table_name %>)</span></a> <%= ds.description %> <%= ds.source %></p>
      <% end %>
    <% end %>
  <% end %>

  <% unless proj.attachments.empty? %>
    <% if proj.attachments.size == 1 %>
     <p class="indentProjectLabel">Other Attachment</p>
    <% else %>
      <p class="indentProjectLabel">Other Attachments</p>
    <% end %>
    <% proj.attachments.each do |a| %>
       <p class='indentProjectDetails'><a href="/attachments/<%= a.id %>" target='_blank'><%= a.description %></a></p>
    <% end %>
  <% end %>

  <% unless proj.aact_version.blank? %>
    <p class='indentProjectLabel'>
      <span class='projectAactVersion'>
        <span class="projectLabel">AACT Version:</span>
        <span><%= proj.aact_version %></span>
      </span>
      <span class='seeMoreButton'>
        <a href="/shared_data/<%= proj.schema_name %>" class='btn btn-projects btn-primary'>See more info ...</a>
      </span>
    </p>
  <% else %>
    <span class='seeMoreButton'>
      <a href="/shared_data/<%= proj.schema_name %>" class='btn btn-projects btn-primary'>See more info ...</a>
    </span>
  <% end %>
</div>
