<script>

$(document).ready(function(){

  var $table = $('#projectTable');

  $table.on('expand-row.bs.table', function(e, index, row, $detail) {
    var res = $("#detail_" + index).html();
    $detail.html(res);
  });

  $table.on("click-row.bs.table", function(e, row, $tr) {
    console.log("  Clicked on: " + $(e.target).attr('class'), [e, row, $tr]);
    if ($tr.next().is('tr.detail-view')) {
       $table.bootstrapTable('collapseRow', $tr.data('index'));
    } else {
       $table.bootstrapTable('expandRow', $tr.data('index'));
    }

    $("#projectFilter").change(function(){
        $(".dataNotAvailable").toggle($("#projectFilter").val() == "all");
    });
  });

});

function openRow(index){
  $('.projectDetail').hide();
  $('#detail_'+index).show();
}
</script>

<section class='standardLayout'>
  <div>
    <h1 class='projects'>Data Available for Sharing</h1>

    <%= render 'explanation' %>

  <div class="list-group">
    <% @projects.each_with_index do |proj, index| %>
      <a href="/shared_data/<%= proj.schema_name %>"class="list-group-item list-group-item-action fw-normal ">
          <div class="d-flex flex-row justify-content-between">
            <h3 class=""><%= proj.name %></h3>
            <% unless proj.year.nil? %><div>Published:<span class="px-2"><%= proj.year %></span></div>
            <% end %>
          </div>
          <div class="d-flex flex-row"><%= proj.description %></div>
      </a>
    <% end %>
  </div>

    <%= render 'please_note' %>
  </div>

</section>