<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>

$(document).ready(function(){

  var $table = $('#projectTable');

  $table.on('expand-row.bs.table', function(e, index, row, $detail) {
    var res = $("#detail_" + index).html();
    $detail.html(res);
  });

  $table.on("click-row.bs.table", function(e, row, $tr) {
    console.log("  Clicked on: " + $(e.target).attr('class'), [e, row, $tr]);
    if ($tr.next().is('tr.detail-view')) {
       $table.bootstrapTable('collapseRow', $tr.data('index'));
    } else {
       $table.bootstrapTable('expandRow', $tr.data('index'));
    }

    $("#projectFilter").change(function(){
        $(".dataNotAvailable").toggle($("#projectFilter").val() == "all");
    });
  });

});
</script>

<section class='standardLayout'>
  <div>
    <h1 class='projects'>Data Available for Sharing</h1>

    <%= render 'explanation' %>

    <div class='shadowContainer'>
      <table id='projectTable'
         data-toggle="table"
         data-detail-view="true"
         data-detail-formatter="detailFormatter"
         data-pagination="true"
         data-show-columns="true"
         data-sort-order="name"
         class='sortable table-striped table-responsive table-hover regularDisplay'>

          <thead>
            <tr>
              <th data-field='name'>Name</th>
              <th data-field='investigators'>Investigators</th>
              <th data-field='organizations'>Organizations</th>
              <th data-field='year'>Publication Year</th>
              <th data-field='brief_summary'>Brief Summary</th>
              <th data-field='schema_name'>DB Schema</th>
            </tr>
          </thead>

          <tbody class='projects'>
            <% @projects.each_with_index do |proj, index| %>
              <tr id="row_<%= index %>" class="projectRow">
                <td><%= proj.name %></td>
                <td><%= proj.investigators %></td>
                <td><%= proj.organizations %></td>
                <td><%= proj.year %></td>
                <td><%= proj.brief_summary %></td>
                <td><%= proj.schema_name %></td>
                <span style="display: none;" id="detail_<%= index %>">
                  <%= render :partial => 'project_details', :locals => {:proj => proj} %>
                </span>
              </tr>
            <% end %>
         </tbody>
      </table>
    </div>

    <%= render 'please_note' %>
  </div>

</section>
