<div class="wrap">
  <div class="basicHero">
    <h1>Install PostgreSQL on Windows 10</h1>
  </div>

  <p>The following information is based on our experience downloading PostgreSQL 9.6.9 from the <a target='_blank' href='https://www.enterprisedb.com/downloads/postgres-postgresql-downloads'>Enterprise DB website</a> and installing it on a Windows 10 machine. This was done in early July, 2018.</p>

  <div class="step">
     <span class="stepNumber">1</span>
     <h3 class="stepName">Download PostgreSQL</h3>
  </div>

  <p>The URL is: <a target='_blank' href='https://www.enterprisedb.com/downloads/postgres-postgresql-downloads'>https://www.enterprisedb.com/downloads/postgres-postgresql-downloads</a></p>

  <p> <%= image_tag("postgres-documentation/download_postgres.png", :size => '420x350', :class => 'centerImage') %> </p>

  <p>The site starts by asking which version of PostgreSQL you want and the operating system of the machine you're downloading to. AACT is currently running on PostgreSQL version <%= ENV['AACT_DB_VERSION'] %>, so versions subsequent to that should work. For this demo, we chose version 6.9.6. If you're downloading to Windows or Linux, you need to specify whether you're on a 32 or 64 bit machine.</p>

  <p>We googled to find these instructions about determining if your machine is 32 or 64 bit:</p>
  <p> <%= image_tag("postgres-documentation/pg-windows-system-type2.png", :size => '420x150', :class => 'centerImage') %> </p>
  <p>When we did this, we determined our machine to be 64 bit (see the value for 'System type:' in the screenshot below). Therefore we selected <i>Windows x86-64</i> from the dropdown.</p>

  <p> <%= image_tag("postgres-documentation/pg-windows-system-type.png", :size => '420x350', :class => 'centerImage') %> </p>

  <p>With these two values specified, we pressed the <i>[Download Now]</i> button.</p>

  <p> <%= image_tag("postgres-documentation/windows_system_type_select.png", :size => '350x200', :class => 'centerImage') %> </p>

  <div class="step">
     <span class="stepNumber">2</span>
     <h3 class="stepName">Install PostgreSQL</h3>
  </div>
  <p>The website will ask what you want to do once the file finishes downloading.  Select [Run] so that it automatically launches the process that installs the software.</p>

  <p> <%= image_tag("postgres-documentation/run_executable.png", :size => '420x70', :class => 'centerImage') %> </p>
  <p>Choose [Yes] when it asks if you allow the app to make changes to your device.</p>
  <p> <%= image_tag("postgres-documentation/allow_changes.png", :size => '420x270', :class => 'centerImage') %> </p>
  <p>This will fire off the setup wizard. Click <i>[ Next > ]</i> buttons (accepting all defaults) until it prompts you for the superuser password. <b>Enter a password you will remember!</b> You'll need it later to access PostgreSql & create the AACT database.</b></p>
  <p> <%= image_tag("postgres-documentation/launch_setup_wizard.png", :size => '420x270', :class => 'centerImage') %> </p>

  <p>You should see a progress bar showing that it is installing PostgreSQL</p>
  <p> <%= image_tag("postgres-documentation/installing_progress_bar.png", :size => '420x270', :class => 'centerImage') %> </p>

  <p>Unless you intend to develop an application or additional functionality that uses PostgreSQL databases, you will not need to install additional PostgreSQL features/utilitites, so exit when it completes the main installation.</p>

  <div class="step">
     <span class="stepNumber">3</span>
     <h3 class="stepName">Create the AACT database</h3>
  </div>

  <p>You can use pgAdmin to create and populate local database instances.  Left click the Windows icon in the lower left and scroll down the list of icons until you see to <i>PostgreSQL</i> icon. Click on it to expand the list of PostgreSQL tools and click on <i>pgAdmin 4</i>.</p>
  <p> <%= image_tag("postgres-documentation/pg_admin_4_icon.png", :size => '250x120', :class => 'centerImage') %> </p>
  <p>When you click <i>pgAdmin 4</i>, it will launch the tool that allows you to create a local version of the AACT database and populate it from a static copy that's available from the <a target='_blank' href='/snapshots'>AACT website</a>. (pgAdmin is also a great tool for querying the database once it's populated.) The window it presents should look something like this:</p>
  <p> <%= image_tag("postgres-documentation/launch_pg_admin.png", :size => '420x300', :class => 'centerImage') %> </p>

  <p>In the left pane, double-click on <i>Servers</i> and navigate down to <i>Databases</i>. Once there, click on <i>[Objects]</i> from the menu across the top of the page, and select <i>Create</i> and then <i>Database...</i>.</p>

  <p> <%= image_tag("postgres-documentation/objects_create_database.png", :size => '320x170', :class => 'centerImage') %> </p>

  <p> This should present an input dialog box that allows you to define a new database. Enter the database name: 'AACT' in the first input box and press <i>[Save]</i>.  An icon for the AACT database should appear on the left under 'Databases'.</p>

  <p> <%= image_tag("postgres-documentation/create_database_aact.png", :size => '320x170', :class => 'centerImage') %> </p>

  <div class="step">
     <span class="stepNumber">4</span>
     <h3 class="stepName">Populate the AACT database</h3>
  </div>

  <p>Download a static copy of the AACT database from the <a target='_blank' href='/snapshots'>AACT Download Page</a>, and unzip the resulting zip file.  It will unpack a set of files that include documentation and a dump file of the AACT database. The file you need for populating your local database copy is <i>postgres_data.dmp</i>.</p>

  <p> <%= image_tag("postgres-documentation/download_directory.png", :size => '420x170', :class => 'centerImage') %> </p>

  <p> <%= image_tag("postgres-documentation/aact_zipfile_contents.png", :size => '420x170', :class => 'centerImage') %> </p>

  <p>You can import the content of <i>postgres_data.dmp</i> file into your new database by clicking <i>[Tools]</i> in the top menu bar of pgAdmin and then click <i>Restore...</i> in the dropdown menu.</p>
  <p> <%= image_tag("postgres-documentation/restore_aact_db.png", :size => '420x270', :class => 'centerImage') %> </p>

  <p>You need to click the elipses to the right of the Filename input box. This will present a 'Select file' dialog box.</p>

  <p> <%= image_tag("postgres-documentation/select_restore_file.png", :size => '420x270', :class => 'centerImage') %> </p>

  <p>Navigate to the directory where the <i>postgres_data.dmp</i> file is.  Important: You need to select 'All Files' in the dropdown that appears in the lower right corner. The <i>postgres_data.dmp</i> file will not display unless 'All files' is selected.'</p>

  <p> <%= image_tag("postgres-documentation/select_restore_file_dropdown.png", :size => '420x270', :class => 'centerImage') %> </p>

  <p>Double click on <i>postgres_data.dmp</i>.  You'll return to the 'Restore (Database: AACT)' dialog box where you can press [Restore] to initiate the process that will import the contents of the dump file into the new AACT database.</p>

  <p> <%= image_tag("postgres-documentation/restore_from_static_copy.png", :size => '420x270', :class => 'centerImage') %> </p>

  <p>The process will take a few minutes. While it is loading, the following message will display:</p>

  <p> <%= image_tag("postgres-documentation/restoring_db_message.png", :size => '420x270', :class => 'centerImage') %> </p>
</div>
