<div class="modal-body">
  <h1>Verifiers</h1>
  <hr/>
  <div class="container-fluid">
    <h5> <strong>Last Run:</strong> <%= @verifiers.last_run&.strftime('%B %d, %Y %I:%M %p') %> </h5>
  </div>
  <div class="container-fluid">
    <h5> <strong>Created at:</strong> <%= @verifiers.created_at.strftime('%B %d, %Y %I:%M %p') %> </h5>
  </div>
  <div class="container-fluid">
    <h5> <strong>Updated at:</strong> <%= @verifiers.updated_at.strftime('%B %d, %Y %I:%M %p') %> </h5>
  </div>
  <div class="container-fluid">
    <h5> <strong>Differences: <span style="color: red;"><%= @verifiers.differences.count %></strong> </h5>
  </div>
  <ul class="list-group ">
    <li class="row mb-0">
      <div class="col-6 text-wrap text-break list-group-item list-group-item-dark"></div>
      <div class="col-3 text-center text-wrap text-break list-group-item list-group-item-dark">Instances</div>
      <div class="col-3 text-center text-wrap text-break list-group-item list-group-item-dark">Unique</div>
    </li>
    <li class="row mb-0">
      <div class="col-3 text-center text-wrap text-break list-group-item list-group-item-dark">Source</div>
      <div class="col-3 text-center text-wrap text-break list-group-item list-group-item-dark">Destination</div>
      <div class="col-1 text-center text-wrap text-break list-group-item list-group-item-dark">Source</div>
      <div class="col-1 text-center text-wrap text-break list-group-item list-group-item-dark">Destination</div>
      <div class="col-1 text-center text-wrap text-break list-group-item list-group-item-dark">Diff</div>
      <div class="col-1 text-center text-wrap text-break list-group-item list-group-item-dark">Source</div>
      <div class="col-1 text-center text-wrap text-break list-group-item list-group-item-dark">Destination</div>
      <div class="col-1 text-center text-wrap text-break list-group-item list-group-item-dark">Diff</div>
    </li>
    <% list = @verifiers.differences.sort{|a,b| (b['source_instances'].to_i - b['destination_instances'].to_i) <=> (a['source_instances'].to_i - a['destination_instances'].to_i)} %>
    <% list.each do |diff| %>
      <% next if (diff['source'].nil?) %>
      <li class="row mb-0">
        <div class="col-3 text-center text-break list-group-item"><%= diff['source'] %></div>
        <div class="col-3 text-center text-break list-group-item"><%= diff['destination'] %></div>
        <div class="col-1 text-center text-break list-group-item"><%= diff['source_instances'] %></div>
        <div class="col-1 text-center text-break list-group-item"><%= diff['destination_instances'] %></div>
        <div class="col-1 text-center text-break list-group-item"><%= diff['source_instances'] - diff['destination_instances']%></div>
        <div class="col-1 text-center text-break list-group-item"><%= diff['source_unique_values'] %></div>
        <div class="col-1 text-center text-break list-group-item"><%= diff['destination_unique_values'] %></div>
        <div class="col-1 text-center text-break list-group-item"><%= diff['source_unique_values'] - diff['destination_unique_values']%></div>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Back', verifiers_path, :class => "btn btn-primary btn-sm" %>
</div>
