<div class="container">

  <%= render 'layouts/query_menu' %>

  <div class="search-form">
    <%= form_tag(my_queries_path, method: :get, class: 'form-inline') do %>
      <div class="form-group" style="display: inline-flex; align-items: center;">
        <%= text_field_tag :search, params[:search], class: 'form-control form-control-sm', style: 'width: 250px;'%>
        <%= submit_tag "Search", class: 'btn btn-primary btn-sm', style: 'width: 100px;' %>
      </div>
    <% end %>
  </div>

    <table id="data-table" class="table table-sm table-striped">
    <tbody>
      <% @saved_queries.each do |query| %>
        <tr class="selectable-row" data-url="<%= saved_query_path(query) %>">
          <td>
            <%= link_to query.title, saved_query_path(query) %>
            <br>
            <%= query.description %>
          </td>
          <td>
            <%= query.created_at.strftime('%B %d, %Y') %>
          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
    
    <div class="pagination">
      <%= paginate @saved_queries %>
    </div>
  </div>