<h2>User Reports They Cannot Access the Database</h2>

<h3>First Make Sure Database is Unlocked</h3>
<p>The first thing to do when someone reports they can't access the live, public database is verify the database is accessible.</p>

<p><%= render 'pages/postgres_remote_login' %></p>

<p>If instead of seeing a number that represents the row count of the Studies table you get something like this:</p>

<p><%= render 'public_db_appears_locked' %></p>

<p>then the database is locked and you'll need to unlock it. To do so, leave the current psql session open (so you can later run this sql again to verify the database has been 'unlocked'), and from another terminal session, log onto the data-processing (OIT-hosted) server where you can run a script that unlocks the public db. Sample steps:</p>

<p><%= render 'run_script_to_unlock_db' %></p>

<p>Now go back to the psql session you left open (or start up a new one if you closed it), and try running the sql command to count rows in the Studies table.  This time it should provide the expected response:  an integer representing the number of rows in the Studies table. (You can exit that session by entering the 'quit' command:  <i>\q</i>)</p>

<h3>If Database Not Locked, Provide The Following Suggestions to the User</h3>

<p>We’ve had a number of people contact us because they couldn't access the live AACT database from their computer at work, although the database seems fine and other users are actively querying it. When we receive such reports, we initially ask the user to try replacing the domain name (<i><%= @aact_public_hostname %></i>) with the IP address (<i><%= @aact_public_ip_address %></i>) in their connection command. While we know of only one situation where this resolved the problem, it's quick & easy to try, so we recommend this first.</p>

<p>In most cases, users who cannot access the live database have resolved the isue by contacting their network support staff and asking them to add the AACT database IP address (<i><%= @aact_public_ip_address %></i>) to their organization's whitelist.</p>

<p>A user can confirm that the problem is probably a result of security restrictions (whitelisting) on their organization's network by trying to access the AACT database from their home or anywhere else that has broadly accessible internet connectivity.</p>
