<%= form_for(saved_query) do |f| %>
  <% if saved_query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(saved_query.errors.count, "error") %> prohibited this query from being saved:</h2>
      <ul>
      <% saved_query.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="modal-body">
    <div class="container-fluid">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="container-fluid">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 5, class: "form-control" %>
    </div>
    <div class="container-fluid">
      <%= f.label :sql %>
      <%= f.text_area :sql, rows: 5, class: "form-control" %>
    </div>
    <div class="pb-5">
    </div>
    <div class="actions container-fluid">
      <%= f.submit :class => "old-btn"%>
    </div>
  </div>
<% end %>
