<p id="notice"><%= notice %></p>

<div class="container">
  <div class="pb-3">
    <h1>Releases</h1>
    <%= link_to 'New Release', new_release_path, :class => "btn btn-primary btn-sm" %>
  </div>
  <table class="table table-sm table-striped" style="max-width: 100rem;">
    <thead>
      <tr>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Released On</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @releases.each do |release| %>
        <tr>
          <td><%= link_to release.title, release_path(release) %> </td>
          <td><%= release.subtitle %></td>
          <td><%= release.released_on.strftime('%B %d, %Y') %></td>
          <td><%= link_to 'Edit', edit_release_path(release), :class => "btn btn-primary btn-sm" %></td>
          <!-- data confirmation not working, need to investigate -->
          <td><%= button_to 'Delete', release_path(release), :class => "btn button-danger button-sm ", :method => :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
