<div class="modal-body">
  <h1>Release</h1>
  <hr/>
  <div class="container-fluid">
    <h3><%= @release.title %> <i> (<%= @release.released_on.strftime('%B %d, %Y') %>) </i></h3>
  </div>

  <div class="container-fluid">
    <h5><%= @release.subtitle %></h5>
  </div>

  <div class="container-fluid">
    <p><%= @release.body %></p>
  </div>

  <div class="pb-5">
  </div>
  <%= link_to 'Back', releases_path, :class => "btn btn-primary btn-sm" %>
  <div class="pb-3">
  </div>
  <%= link_to 'Edit', edit_release_path(@release), :class => "btn btn-danger btn-sm" %>
</div>
