<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

<section class="dataDictionaryShow">
  <main>
    <h1>AACT Archive Data Dictionary</h1>

    <section>
      <p>AACT is composed of <%= @tables.size %> tables that provide information related to clinical trials. The database contains multiple schemas, the main one being 'ctgov' which provides data retrieved from ClinicalTrials.gov. The main table in the ctgov schema is 'studies' which relates to all other ctgov tables through the NCT_ID. The ctgov schema also includes 2 tables that provide MeSH terms <a href='NLM' target=_blank'>(Medical Subject Headings)</a> which are published by the National Library of Medicine (NLM). The NLM has populated <i>browse_conditions</i> and <i>browse_interventions</i> tables with the MeSH terms they've determined help describe a study. The NLM updates the MeSH thesaurus each year. AACT provides some older versions of the MeSH thesaurus in the 'mesh_archive' schema.</p>
      <p>AACT also includes a set of project schemas (prefixed with <i>'proj_'</i>) which contain datasets collected/curated by previous researchers who used the AACT database to conduct their study. These datasets enhance the value of the clinical trials data in a number of ways. Descriptions of project schema tables & columns are included in the data dictionary below. The <a href='/shared_data' target='_blank'>Shared Data page</a> provides more comprehensive information about these datasets.</p>
      <p>Click <a href='#tableDictionary'>here</a> to view a listing of all <%= @tables.size %> tables with description and row counts. Detailed information about all data elements included in these tables can be found in the data dictionary below.</p>
    </section>

    <h2>AACT Data Elements</h2>
    <%= render 'data_dictionary_instructions' %>
      <div id="jsGrid" data-schema="archive"></div>
    <%= render 'table_dictionary' %>
    <%= render 'view_dictionary' %>
  <main>

  <%= render 'download_database_specs' %>

  <%= render "javascript" %>
</section>
