
<div class="container">
  
    <table class="notice-header">
      <tr>
        <th>From:</th>
        <td>aact@ctti-clinicaltrials.org</td>
      </tr>
      <tr>
        <th>Date:</th>
        <td><%=@notice.created_at.strftime('%B %d, %Y')%></td>
      </tr>

      <% if @notice.send_emails? && @notice.emails_sent_at?%>
      <tr>
          <th>Sent at:</th>
          <td><%=@notice.emails_sent_at.strftime('%B %d, %Y')%></td>
      </tr>
      <%end%>

      <tr>
        <th>Subject:</th>
        <td><%=@notice.title%></td>
       </tr>
    </table>

    <hr/>
    <p><%= @notice.body %></p>
    <hr/>
    
      <% if @notice.send_emails? && @notice.emails_sent_at.nil? %>
        <%= link_to 'Send', "admin/notices/send_notice/#{@notice.id}", :class => "old-btn" %> 
      <%end%>
  <p><%= link_to 'Edit', edit_admin_notice_path(@notice), class: "btn btn-primary btn-sm mb-2" %></p>

  <%= link_to 'Back', admin_notices_path %>
</div>

