  <ul class="nav nav-tabs adjustments">
    <li class="nav-item">
      <%= link_to 'Playground', '/playground', class: "nav-link #{'active' if current_page?('/playground')}", 'aria-current': current_page?('/playground') %>
    </li>
    <li class="nav-item">
      <%= link_to 'History', '/history', class: "nav-link #{'active' if current_page?('/history')}" %>
    </li>
    <li class="nav-item">
      <%= link_to 'My Queries', '/my/queries', class: "nav-link #{'active' if current_page?('/my/queries')}" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Community Queries', '/queries', class: "nav-link #{'active' if current_page?('/queries')}" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Feedback', '/contactus', class: "nav-link #{'active' if current_page?('/contactus')}" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Help', '/saved_query_doc', class: "nav-link #{'active' if current_page?('/saved_query_doc')}" %>
    </li>
  </ul>


<%= javascript_include_tag 'query_menu', 'data-turbolinks-track': 'reload' %>
